.text_holder{
    position: absolute;
    width: 100%;
}
.main_container{
    position: relative;
    margin:3%;
}
.container_left{
    position: relative;
    width: 45%;
    left: 1%;
    float:left;
}
.container_right{
    position: relative;
    width: 49%;
    left: 5%;
    float: left;
}