/* *{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
} */
.header {
    /* position: absolute; */
    width: 70%;
    height: 10%;
    display: grid;
    grid-template-columns: 50% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    margin-left: auto;
    margin-right: auto;
}

.home_content_left{
    position: relative;
    width: 45%;
    left: 1%;
    float:left;
}
.home_content_right{
    position: relative;
    width: 49%;
    left: 5%;
    float: left;
}
.home_content_holder,
.home_width_holder{
    position: relative;
    margin:3%;



}
/* #container{
    display: flex;
    flex-direction: column;
    height: 100%;
} */
.support_div,
.design_div,
.product_div,
.gallary_div,
.aboutUs_div,
.contact_div,
.login_div,
.home_div{
    width: 80%;
    min-height: 600px;
    padding-bottom:100px;
    margin-left: auto;
    margin-right: auto;
}
.register_div{
    width: 80%;
    min-height: 600px;
    padding-bottom:100px;
    margin-left: auto;
    margin-right: auto;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    background: linear-gradient(45deg, #190aa0 10%, #A2C7E5 90%);
}
.companyLogo {
    display: grid;
    text-align: center;
    font-size: small;
    
}
.home,
.product,
.design,
.gallary,
.support,
.aboutUs,
.contact {
    display: grid;
    text-align: center;
    font-size: small;
    color:black;
}
.home>p,
.product>p,
.design>p,
.gallary>p,
.support>p,
.aboutUs>p,
.contact>p {
    height: 50%;
}
.home:hover,
.product:hover,
.design:hover,
.gallary:hover,
.support:hover,
.aboutUs:hover,
.contact:hover{
    color:white;
    background-color: rgb(132, 199, 219);
}
#product_ul,
#design_ul,
#gallary_ul {
    display: none;
    list-style: none;
    color: black;
    /* margin-top: 30px; */
    padding: 0;
    top: 90%;
}
#product_ul {
    left: 55%;
}
#design_ul {
    left: 60%;
}
#gallary_ul {
    left: 65%;
}
#product_ul>li {
    width:20px;
    height:10px;
    text-align: left;
}

/* .home:hover>ul,
.product:hover>ul,
.design:hover>ul,
.gallary:hover>ul,
.support:hover>ul,
.aboutUs:hover>ul,
.contact:hover>ul{
    display: block;
} */

.cart,
.login,
.register {
    display: grid;
    text-align: center;
    font-size: small    ;
    color:black;
    background-color: rgb(200, 200, 200);
}


.footer {
    /* position: absolute; */
    width: 100%;
    height: 100px;
    background-color: rgb(48, 48, 48);
    margin: 0;
    padding: 0;
    /* bottom:0; */
    /* left:0; */
}
.fixed-bottom {position: fixed;bottom: 0;width:100%;}

/* displayBox */
.displayBox{
    width: 80%;
    height: 400px;
    /* margin: 100px auto; */
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom:30px;

}
.displayBox ul{
    /* position:absolute; */
    left: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
}
.displayBoxv1 ul li {
    float: left;
    width: 178px;
    height: 108px;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
}
@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}