.header {
    position: absolute;
    width: 70%;
    height: 10%;
    top: 5%;
    left:15%;

    display: grid;
    grid-template-columns:50% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
}
.home_content_left{
    position: relative;
    width: 45%;
    left: 1%;
    float:left;
}
.home_content_right{
    position: relative;
    width: 49%;
    left: 5%;
    float: left;
}
.home_content_holder,
.home_width_holder{
    position: relative;
    margin:3%;



}
.home_div{
    position: absolute;
    width: 70%;
    top: 15%;
    left:15%;
}
.companyLogo {

}
.home,
.product,
.design,
.gallary,
.support,
.aboutUs,
.contact {
    display: grid;
    text-align: center;
    font-size: small;
    color:black;
}
.home>p,
.product>p,
.design>p,
.gallary>p,
.support>p,
.aboutUs>p,
.contact>p {
    height: 50%;
}
.home:hover,
.product:hover,
.design:hover,
.gallary:hover,
.support:hover,
.aboutUs:hover,
.contact:hover{
    color:white;
    background-color: rgb(132, 199, 219);
}
.product>ul {
    display: none;
    list-style:none;
    color: black;
    position: absolute;
    margin:0; 
    padding:0;
}
.product>ul>li {
    width:20px;
    height:10px;
    text-align: left;
}

.home:hover>ul,
.product:hover>ul,
.design:hover>ul,
.gallary:hover>ul,
.support:hover>ul,
.aboutUs:hover>ul,
.contact:hover>ul{
    display: block;
}

.cart,
.login,
.register {
    display: grid;
    text-align: center;
    font-size: small    ;
    color:black;
    background-color: rgb(200, 200, 200);
}


.footer {
    position: absolute;
    width: 100%;
    height: 15%;
    background-color: rgb(48, 48, 48);
    top:85%;
}