.top{
    position: absolute;
    top: 0;
    width:100%;
    height:50px;
    background-color: aqua;
}
.btn_top{
    position: relative;
    top: 0;
    left:50px;
    height:50px;
    width:100px;
    font-size: larger;
    color: black;
    text-align: center;
    line-height: 15px;
}
#btn_top_login{
    position: absolute;
    top: 0;
    right:100px;
    height:50px;
    width:80px;
    font-size: large;
    color: black;
    line-height: 15px;
    border-radius:5px;
}
#btn_top_login:hover{
    background-color: black;
    color: white;
    border-radius:5px;
}
.home_menu{
    position: absolute;
    top: 150px;
    width: 66%;
    height: 100px;
    left: 17%;
    background-color: aqua;
}
.btn_menu{
    position: absolute;
    background-color: black;
    color: white;
    width: 200px;
    height: 50px;
    top: 25px;
    margin: auto 0px;
    font-size: large;
}
#btn_menu_1{
    left:40px
}
#btn_menu_2{
    left:280px
}
#btn_menu_3{
    left:520px
}
#btn_menu_4{
    left:760px
}

.ku_search_menu{
    position: relative;
    background-color: darkcyan;
    top: 300px;
    height: 100px;
    width: 70%;
    left: 15%;
}
.btn_search{
    position: absolute;
    background-color: blanchedalmond;
    top: 20px;
    height: 60px;
    width: 180px;
}
#btn_search_1{
    left:100px;
}
#btn_search_2{
    left:320px;
}
#btn_search_3{
    left:540px;
}
#btn_search_4{
    left:760px;
}

.ku_search_choice_menu{
    position: relative;
    top: 300px;
    height: 100px;
    width: 70%;
    left: 15%;
}
.wrapped {
    position: relative;
    display: none;
    top: 300px;
}

.unchecked {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAK3RFWHRDcmVhdGlvbiBUaW1lAHdvIDI5IGZlYiAyMDEyIDEwOjQ4OjU2ICswMTAw9V5ZEQAAAAd0SU1FB9wCHQkxIxpw55kAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAAEZ0FNQQAAsY8L/GEFAAAArklEQVR42j2PSxKEIAxEIYJSZbnxrlzAvRtP6kYU/M1jUjMsmqQ73QE7TVPbtvu+931/3/f7vud5Ps9De12X897HGEUECq1pmso6x9A8z/VSDUQ2xqDRYiulCONkWmsRQAQtwK7rhCl89GpVpGUFtRCuLBQxjJrvIbXKpP2tUBrLViWdujGRpq9D4KuQ9dXjOOac1Sq/Q7tt2zAMbl3XZVmO4+A/7AYJICmEkFL6AMf9gVWePPviAAAAAElFTkSuQmCC) left center no-repeat;
    padding-left: 15px;
    cursor: pointer;
    color: red; 
}

.checked {
background: url(   data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAK3RFWHRDcmVhdGlvbiBUaW1lAHdvIDI5IGZlYiAyMDEyIDEwOjQ4OjMzICswMTAwYQl/MQAAAAd0SU1FB9wCHQkxOecSHuMAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAAAEZ0FNQQAAsY8L/GEFAAAAlElEQVR42j2PCQ7FIBBC3Vr1jL3/Gapx+2/CT01K6Awg+ud5QgjnnL03mHNurZVSeu8pJVZhjOGcizHe980OXGsxAc0nFWTOiQjCggCbk+m9V7JE+CCEG/mmoNwg/E/oIiGBpBHD3SCFLJwuKD45o/d9VdMMtVamVjKE67ogmuip5uaHALXTgoPbwvlorotBZSJVwR/MKppFnb0uyQAAAABJRU5ErkJggg%3D%3D) no-repeat left center;
    padding-left: 15px;
    cursor: pointer;
    color: green;
}

.ku_user_menu{
    position: relative;
    background-color: blue;
    top: 250px;
    height: 300px;
    width: 70%;
    left: 15%;
}
.user_search{
    position: relative;
    background-color: blanchedalmond;
    top: -100px;
    height: 60px;
    width: 65%;
}
#btn_user_search_1{
    left:100px;
}
#btn_user_search_2{
    left:100px;
}
#btn_user_search_3{
    left:100px;
}
#btn_user_search_4{
    left:100px;
}

.ku_main_menu{
    position: relative;
    background-color: darkcyan;
    top: 300px;
    height: 300px;
    width: 70%;
    left: 15%;
}
.buttom{
    position: relative;
    background-color: darkcyan;
    height: 100px;
    width: 100%;
    margin: auto 0px;
    top: 500px;
}