.top{
    position: absolute;
    top: 0;
    width:100%;
    height:150px;
    background-color: aqua;
    
}
.btn_top{
    position: relative;
    top: 0;
    left:50px;
    height:150px;
    width:200px;
    font-size: larger;
    color: black;
}
#btn_top_login{
    position: absolute;
    top: 0;
    right:100px;
    height:150px;
    width:200px;
    font-size: large;
    color: black;
}

.home_menu{
    position: absolute;
    top:300px;
    width:1000px;
    height:300px;
    margin:auto 0px;
    background-color: aqua;
}
.btn_menu{
    position: absolute;
    background-color: black;
    color: white;
    width:200px;
    height:180px;
    top:60px;
    margin:auto 0px;
    font-size: large;
}
#btn_menu_1{
    left:40px
}
#btn_menu_2{
    left:280px
}
#btn_menu_3{
    left:560px
}
#btn_menu_4{
    left:760px
}


.home_search_menu{
    position: relative;
    background-color: darkcyan;
    top:700px;
    height:600px;
    width:1000px;
    margin:auto 0px;
}
.btn_search{

}

.home_main{
    position: relative;
    background-color: darkcyan;
    top:700px;
    height:600px;
    width:1000px;
    margin:auto 0px;
}
.buttom{
    position: relative;
    background-color: darkcyan;
    bottom:0;
    height:100px;
    width:100%;
    margin:auto 0px;
}


